<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header id="showcase" class="grid">
      <div class="bg-image"></div>

      <h1>welcome to webtech solution</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
        blanditiis vero, at consequatur eum eligendi provident nostrum assumenda
        nam illum, velit facilis labore tempora soluta aspernatur doloremque
        maiores asperiores. Sequi?
      </p>
      <a href="#b-section" class="btn">read more</a>
    </header>
    <main id="main">
      <!-- section A -->
      <section id="section-a" class="grid">
        <div class="content-wrap">
          <h2 class="content-title">web & application development</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur, illo. Tempore, aspernatur. Est quasi voluptatem facilis
            temporibus? Explicabo, eaque sunt rerum pariatur voluptas optio
            ipsa. Laboriosam suscipit repellat sequi? Repudiandae exercitationem
            facilis unde nulla, error ipsa obcaecati officiis recusandae
            ratione.
          </p>
        </div>
      </section>

      <!-- section B -->
      <section id="section-b" class="grid">
        <ul>
          <li>
            <div class="card">
              <img
                src="https://images.pexels.com/photos/6804581/pexels-photo-6804581.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""
              />
              <div class="card-content">
                <h3 class="card-title">web development</h3>

                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
                  consectetur est obcaecati assumenda earum autem? Voluptatum
                  rerum assumenda facilis esse.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="card">
              <img
                src="https://images.pexels.com/photos/17663/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt=""
              />
              <div class="card-content">
                <h3 class="card-title">mobile application</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
                  consectetur est obcaecati assumenda earum autem? Voluptatum
                  rerum assumenda facilis esse.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="card">
              <img
                src="https://images.pexels.com/photos/265087/pexels-photo-265087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
              />
              <div class="card-content">
                <h3 class="card-title">tech marketing</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
                  consectetur est obcaecati assumenda earum autem? Voluptatum
                  rerum assumenda facilis esse.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- section c -->
        <section id="section-c" class="grid">
            <div class="wrap-content">
                <h2 class="content-title">we handle all of your digital needs</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos necessitatibus alias illum. Repellat cumque natus quaerat quod perferendis? Obcaecati.</p>
            </div>
        </section>
        <!-- section d -->
        <section id="section-d" class="grid">
            <div class="box">
                <h2 class="content-title">contact us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit modi repellat dolore quibusdam sunt error vitae minima voluptates nisi.
                    <p>webTech@tech.io</p>
                </p>
            </div>
            <div class="box">
                <h2 class="content-title">about our company</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit modi repellat dolore quibusdam sunt error vitae minima voluptates nisi.
                    <p>webTech@tech.io</p>
                </p>
            </div>
        </section>
    </main>
    <footer id="main-footer" class="grid">
        <div> </div>
        <div></div>
    </footer>
  </body>
</html>
