@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    background-image: url('https://cdn.pixabay.com/photo/2020/03/16/06/39/sunset-4935922_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    position: absolute;
    z-index: -1;
    
   
    filter: blur(30px);
    

}
.loading-text{
    font-size: 50px;
    color:#fff
}